.gradle/
build/
target/
*.iml
.idea/
*.log
*.bin
*.lock
maven_output.txt
effective_pom.txt
dmm_latest_sample.json
metadata-api.xml
metadata-parent.xml
metadata-runelite-api.xml
test-client-1.12.16.pom/
test-client.pom
web-preview/
pom.xml
